<div id="header" class="container-group fix">
	<div class="outline">
		<div id="branding" class="container fix">
			<div class="texture">
				<div class="content">
					<div class="content-pad">
						<div class="branding_wrap">
							<a class="mainlogo-link" href="http://www.corvid.in"
								title="Corvid Systems"><img class="mainlogo-img"
								src="/images/corvidsystems.png" alt="Corvid Systems" /> </a>
							<div class="icons" style="bottom: 0px; right: px;">
								<a title="Corvid Tweets" target="_blank" href="http://www.twitter.com/corvidsystems/"
									class="twitterlink"></a>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="primary-nav" class="container fix">
			<div class="texture">
				<div class="content">
					<div class="content-pad">
						<div id="nav_row" class="main_nav fix">

							<ul id="menu-nav" class="main-nav">
								<li
									class="page_item page-item-10
												        {% if page.title == 'Home' %} 
												          current_page_item
												        {% endif %}  
												          ">
									<a href="/index.html">Home</a>
								</li>
								<li
									class="page_item page-item-22
												        {% if page.title == 'Blog' or page.layout == 'post' %} 
												          current_page_item
												        {% endif %}												
												       ">
									<a href="/blog.html">Blog</a>
								</li>
                <li
                  class="page_item page-item-17
                                {% if page.title == 'Contact us' %} 
                                  current_page_item
                                {% endif %}                       
                            ">
                  <a href="/contactus.html">Contact us</a>
                </li>
								<li
									class="page_item page-item-22
												        {% if page.title == 'About us' %} 
												          current_page_item
												        {% endif %}
												        ">
									<a href="/aboutus.html">About us</a>
								</li>
							</ul>
							
              <form method="get" class="searchform" action="/search.html">
                <fieldset>
                  <input type="text" value="Search" name="q" class="searchfield"
                    onfocus="if (this.value == 'Search') {this.value = '';}"
                    onblur="if (this.value == '') {this.value = 'Search';}" /> 
                    <input
                    type="image" class="submit btn" name="submit"
                    src="/css/images/search-btn.png" alt="Go" />
                </fieldset>
              </form>

						</div>

						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>